.st-emotion-cache-kt9vas{
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #7E99AB;
}
.diagnosis{
    color: #fff;
    padding: 0.2em 0.5rem;
    border-radius: 0.5em;
}

.diagnosis.benign{
    background-color: #4CAF50; /* Green */
}
.diagnosis.malicious{
    background-color: #ff4b4b; /* Green */
}